# Python bytecode
__pycache__/
*.py[cod]

# Environments
venv/
env/
.venv/
*.egg-info

# Distribution / packaging
build/
dist/
*.egg
*.eggs
*.wheel

# Misc
*.swp
*.swo
*.DS_Store

# Environment variables
.env